@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'S-CoreDream-3Light', sans-serif;
    box-sizing: border-box;
}

.header {
    position: static;
}

.travel-info {
    padding: 10px;
   max-width: 1400px;
    margin: 50px auto 0;
}

.travel-info h1 {
    font-size: 40px;
    font-weight: bold;
    margin: 35px 0;
    text-align: left;
    padding-bottom: 10px;
}

.hashtags {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0;
    padding: 15px;
    background-color: #f1efef;
    flex-wrap: wrap;
    text-align: center;
}

.address,
.category,
.mbti {
    display: grid;
    gap: 5px;
    align-content: center;
    font-size: 17px;
    color: #000000;
    justify-content: center;
}

.address {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, auto);
    justify-items: center;
    padding: 0 5px;
    font-size: 17px !important;
    color: #000000 !important;
}

.category {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    position: relative;
    margin: 0 10px;
}

.category::before,
.category::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #777777;
    height: 120%;
    margin: auto 0;
}

.category::before {
    left: -20px;
}

.category::after {
    right: -20px;
}

.mbti {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    justify-items: center;
    padding: 0 10px;
}

.address span,
.category span,
.mbti span {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.address span.active,
.category span.active,
.mbti span.active {
    background-color: #0fb0ff;
    color: #fff;
}

.travel-list {
    margin-top: 35px;
    padding: 20px;
    border: 1px solid #d3d3d3;
    background-color: #fff;
    max-height: 380px;
}

.travel-list .black-text {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    position: relative;
    top: -7px;
}

.travel-list .blue-text {
    font-size: 20px;
    font-weight: bold;
    color: #0fb0ff;
    text-align: left;
    position: relative;
    top: -7px;
}

.sort-options {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    align-items: center;
    font-size: 16px;
    position: relative;
    top: -30px;
}

.sort-option {
    margin: 0 10px;
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.sort-option.active {
    color: #0fb0ff;
    font-weight: bold;
}

.travel-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.travel-item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 120px;
    margin: 2px 2px;
    position: relative;
    user-select: none;
    -webkit-user-drag: none;
}

.travel-item img {
    width: 220px;
    height: 120px;
    object-fit: cover;
    margin-left: 20px;
    margin-right: 10px;
    position: relative;
}

.travel-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 120px;
    justify-content: center;
    left: 20px;
    white-space: nowrap;
    overflow-y: hidden;
    text-overflow: ellipsis;
    width: 341px;
   /* 임시 */
    white-space: nowrap; /* 텍스트를 한 줄로 유지합니다 */
    overflow: hidden; /* 넘치는 내용을 숨깁니다 */
    text-overflow: ellipsis;
    width: 270px;
}

.travel-details h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.travel-details p {
    margin: 3px 0;
    color: #777;
    white-space: nowrap;
    overflow: hidden; /* 수평 및 수직 오버플로를 모두 숨김 */
    text-overflow: ellipsis;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0; /* Adjusted margin for top and bottom */
}

.pagination a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    margin: 0 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.pagination .page-log,
.pagination .page-info {
    font-size: 16px;
    cursor: default;
    margin-left: 5px;
    margin-right: 5px;
    color: black;
}

.pagination a:hover {
    border-color: #fff;
}

.pagination a:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
}

.pagination a:active {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
