/* 사용자 정의 폰트를 불러오는 부분 */
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* body와 html 기본 스타일 */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'S-CoreDream-3Light', sans-serif;
}

.logwrite-container {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
}

.logwrite-container h1 {
    text-align: left;
    font-size: 40px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center; /* 세로 중앙 정렬을 위해 추가 */
}

.form-group input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'S-CoreDream-3Light', sans-serif;
    width: 100%; /* 현재 컨테이너 너비의 100%로 설정 */
    box-sizing: border-box;
    margin-right: 10px;
}

.form-group input[type="file"] {
    padding: 10px;
    font-size: 16px;
    font-family: 'S-CoreDream-3Light', sans-serif;
    box-sizing: border-box;
    width: 230px;
    white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
    flex-shrink: 0; /* 버튼 크기 고정 */
}


.form-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'S-CoreDream-3Light', sans-serif;
    width: 100%;
    box-sizing: border-box;
}

.form-group textarea {
    height: 400px;
    resize: none;
}

.form-buttons {
    display: flex;
    justify-content: flex-end;
}

.form-buttons .btn-primary,
.form-buttons .btn-secondary {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'S-CoreDream-3Light', sans-serif;
}

.form-buttons .btn-secondary {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #000;
    margin-right: 10px;
    
}

.form-buttons .btn-primary {
    background-color: #0fb0ff;
    border: 1px solid #ccc;
    color: #fff;
}

.form-buttons .btn-secondary:hover {
    background-color: #d3d3d3;
}

.form-buttons .btn-primary:hover {
    background-color: #007bb5;
}
